<h1> This is the current home page</h1>
<p> Gotta go over HTML at work tommorow to figure out how to make this beter</p>


<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About Link', about_path %>